<!DOCTYPE html>
<html lang="ja"><head><meta charset="UTF-8">
  <meta name="viewport"
    content="width=device-width, initial-scale=1.0">
  <title>会員制の掲示板</title>
  <link rel="stylesheet" href="static/pure-min.css">
  <link rel="stylesheet" href="static/style.css?v=0220">
</head><body><div class="content">
  
  <h1>会員制の掲示板 - {{ user }}</h1>
  <!-- 削除/変更フォーム -->
  <form method="POST" class="pure-form pure-form-stacked">
    <button name="de-id" formaction="/delete" type="submit" class="pure-button pure-button-primary" value={{data[0]}}>削除</button>
    <button name="ed-id" formaction="/edit" type="submit" class="pure-button pure-button-primary" value={{data[0]}}>変更</button>
    <p class="box_h">{{ data[0] }} - {{ data[1] }} - {{ data[3] }}</p>
    <textarea name="ta" rows="4" cols="60"value="" placeholder="コメント入力">{{ data[2] }}</textarea>
  </form>

</div></body></html>

