<!DOCTYPE html>
<html lang="ja"><head><meta charset="UTF-8">
  <meta name="viewport"
    content="width=device-width, initial-scale=1.0">
  <title>会員制の掲示板</title>
  <link rel="stylesheet" href="static/pure-min.css">
  <link rel="stylesheet" href="static/style.css?v=0220">
</head><body><div class="content">
  <!-- 書き込みフォーム -->
  <h1><a id="menu-switch" href="#">≡</a>
    会員制の掲示板 - {{ user }}</h1>
  <!-- メニュー -->
  <div id="menu" class="pure-menu pure-u-2-5">
    <ul class="pure-menu-list">
      <li class="pure-menu-item">
        <a href="/logout" class="pure-menu-link">→ログアウト</a>
      </li>
    </ul>
  </div>
  <form action="/edit" method="POST"
      class="pure-form pure-form-stacked">
    <textarea name="ta" rows="4" cols="60"value="" placeholder="コメント入力"></textarea>
    <button type="submit" class="pure-button pure-button-primary">編集</button>
  </form>
  <!-- 掲示板のログを表示する -->
  {% for i in data %}
    <div class="box">
      <p class="box_h"><a href="./edit/{{user[0]}}">{{ i[0] }}</a> - {{ i[1] }} - {{ i[3] }}</p>
      <p>{{ i[2] }}</p>
    </div>
  {% endfor %}
  <!-- ハンバーグメニューの開閉処理 -->
  <script>
  function $(id) { return document.querySelector(id) }
  $("#menu-switch")._b = false
  $("#menu-switch").onclick = ()=>{
    $("#menu-switch")._b = !$("#menu-switch")._b
    if ($("#menu-switch")._b) {
      $("#menu").style.display = "block"
    } else {
      $("#menu").style.display = "none"
    }
  }
  </script>
</div></body></html>

